appdirs==1.4.4
attrs==22.2.0
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.2.1
commonmark==0.9.1
docker-pycreds==0.4.0
editdistance==0.6.2
gitdb==4.0.9
GitPython==3.1.18
idna==3.6
importlib-metadata==4.8.3
iniconfig==1.1.1
joblib==1.1.1
numpy
packaging==21.3
pathtools==0.1.2
Pillow==8.4.0
pluggy==1.0.0
protobuf==3.19.6
psutil==5.9.8
py==1.11.0
Pygments==2.14.0
pyparsing==3.1.2
pytest==7.0.1
PyYAML==6.0.1
requests==2.27.1
rich==12.6.0
scikit-learn==0.24.2
scipy==1.5.4
sentry-sdk==1.44.1
setproctitle==1.2.3
six==1.16.0
smmap==5.0.0
submitit==1.4.6
threadpoolctl==3.1.0
tomli==1.2.3
torch==1.10.2
torchvision==0.11.3
typing_extensions==4.1.1
urllib3==1.26.18
wandb==0.15.12
zipp==3.6.0